@model WebTeste.Models.Pessoa
@{
    ViewData["Title"] = "Cadastro de Clientes";
}

<div class="text-center">
    <h3 class="display-4">Cadastro de Clientes</h3>
    @using (Html.BeginForm("lista,"home, FormMethod.Post))
    {
        <fieldset>
            <legend> Informação de pessoas</legend>
            <div>
                @Html.LabelFor(x => x.PessoaId)
            </div>
            <div>

            </div>
        </fieldset>
    }
</div>